.classify.xiaoshou>.list_img:after {
  content: '';
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 52px;
  text-align: center;
  line-height: 52px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 100%;
  font-size: 16px;
  background-color: #27b0ff;
  content: '销售';
}
