

#bar-sousuo {
  outline: none;
  width: 100%;
  background-color: #f7f7f7;
  border-radius: 4px;
  border: none;
  height: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

.bannr {
  height: 120px;
}

.entry_block {
  /* margin-bottom: 10px; */
}

.entry_block>div {
  width: 50%;
  height: 65px;
  box-sizing: border-box;
  padding: 12px 15px;
  position: relative;
}

.entry_block>div:nth-child(2n+1) {
  border-right: 1px solid #e6e6e6;
}

.entry_tel {
  color: #3f3f3f;
  line-height: 1.5;
  font-size: 16px;
}

.entry_del {
  color: #d1d1d1;
  font-size: 12px;
  line-height: 1.5;
}

.entry_right {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 10px;
  right: 10px;
}

.filter_wrap {}

.filter_wrap>div {
  padding: 0 5px;
  box-sizing: border-box;
  width: 33%;
  height: 44px;
  border-bottom: 1px solid #f3f3f3;
  text-align: center;
  line-height: 45px;
  font-size: 16px;
  position: relative;
}

.filter_wrap>div>i {
  position: absolute;
  top: 15px;
  right: 20px;
  line-height: 14px;
  font-size: 12px;
}

.list_block>li {
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
  flex-wrap: nowrap;
  border-bottom: 1px solid #f8f7f7;
}

.list_img {
  width: 52px;
  height: 52px;
  position: relative;
  margin-right: 10px;
}

.list_content {
  line-height: 1;
}

.list_block .title {
  font-size: 16px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 82%;
  font-weight: 400;
}

.list_block .desc {
  font-size: 12px;
  color: #a5a5a5;
  width: 100%;
  margin: 5px 0;
}

.list_block .desc>span:first-child {
  margin-right: 8px;
}

.list_block .other {}

.list_block .money {
  color: #fe7418;
}

.list_block .time {
  color: #a5a5a5;
}

.guangbo {
  padding: 3px;
  box-sizing: border-box;
  position: relative;
  border-bottom: 1px solid #f8f7f7;
  ;
}

.g_icon {
  position: absolute;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
}

.g_swiper {
  margin-left: 20px;
  height: 20px;
}
